body {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px #000;
  background: transparent;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

label {
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.login-box {
  text-align: center;
  margin: 100px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  max-width: 500px;
}
